<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
  <section>
    <div class="player-card">
      <img src="{{defender.img_url}}" alt="Defender Image" width="300px">
      <h1>{{defender.name}}</h1>
      <p class="label">Description:</p>
      <p>{{defender.description}}</p>
      <p class="label">Back Number:</p>
      <p>No. {{defender.backnumber}}</p>
      <p class="label">Position:</p>
      <p>{{defender.position}}</p>
      <p class="label">Age:</p>
      <p>{{defender.age}}</p>
      <p class="label">Country:</p>
      <p>{{defender.country}}</p>
      <p class="label">Birthdate:</p>
      <p>{{defender.birthdate}}</p>
      <p class="label">Join Date:</p>
      <p>{{defender.joindate}}</p>
      <p class="label">Debut Date:</p>
      <p>{{defender.debutdate}}</p>
    </div>
  </section>
</body>
