<body>
    <div class="container">
      <div class="player-card">
        <img src="{{midfielder.img_url}}" alt="Midfielder Image">
        <h1>{{midfielder.name}}</h1>
        <p class="label">Description:</p>
        <p>{{midfielder.description}}</p>
        <p class="label">Back Number:</p>
        <p>No. {{midfielder.backnumber}}</p>
        <p class="label">Position:</p>
        <p>{{midfielder.position}}</p>
        <p class="label">Age:</p>
        <p>{{midfielder.age}}</p>
        <p class="label">Country:</p>
        <p>{{midfielder.country}}</p>
        <p class="label">Birthdate:</p>
        <p>{{midfielder.birthdate}}</p>
        <p class="label">Join Date:</p>
        <p>{{midfielder.joindate}}</p>
        <p class="label">Debut Date:</p>
        <p>{{midfielder.debutdate}}</p>
      </div>
    </div>
</body>