<body>
    <div class="container">
      <div class="player-card">
        <img src="{{keeper.img_url}}" alt="GoalKeeper Image">
        <h1>{{keeper.name}}</h1>
        <p class="label">Description:</p>
        <p>{{keeper.description}}</p>
        <p class="label">Back Number:</p>
        <p>No. {{keeper.backnumber}}</p>
        <p class="label">Position:</p>
        <p>{{keeper.position}}</p>
        <p class="label">Age:</p>
        <p>{{keeper.age}}</p>
        <p class="label">Country:</p>
        <p>{{keeper.country}}</p>
        <p class="label">Birthdate:</p>
        <p>{{keeper.birthdate}}</p>
        <p class="label">Join Date:</p>
        <p>{{keeper.joindate}}</p>
        <p class="label">Debut Date:</p>
        <p>{{keeper.debutdate}}</p>
      </div>
    </div>
</body>
