.player-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .player-card img {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .player-card h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .player-card p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .player-card .label {
    font-weight: bold;
  }