<body>
    <div class="container">
      <div class="player-card">
        <img src="{{striker.img_url}}" alt="Forward Image">
        <h1>{{striker.name}}</h1>
        <p class="label">Description:</p>
        <p>{{striker.description}}</p>
        <p class="label">Back Number:</p>
        <p>No. {{striker.backnumber}}</p>
        <p class="label">Position:</p>
        <p>{{striker.position}}</p>
        <p class="label">Age:</p>
        <p>{{striker.age}}</p>
        <p class="label">Country:</p>
        <p>{{striker.country}}</p>
        <p class="label">Birthdate:</p>
        <p>{{striker.birthdate}}</p>
        <p class="label">Join Date:</p>
        <p>{{striker.joindate}}</p>
        <p class="label">Debut Date:</p>
        <p>{{striker.debutdate}}</p>
      </div>
    </div>
</body>
